# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# SQLite database
*.db
*.sqlite3
db/

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db

# Testing/cache
.pytest_cache/
.mypy_cache/